/* share style */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* banner style */
* {
  margin: 0;
}
.banner {
  background: #e554731a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  padding-left: 80px;
  padding-right: 80px;
}
.title {
  color: #272727;
  font-family: Lato;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 30px;
  /* width: 708px; */
}
.subtitle {
  text-align: justify;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-title-image {
  margin-top: 10px;
  padding-bottom: 0;
}

.banner-image {
  padding-top: 50px;
  height: 100%;
  background-repeat: no-repeat;
  /* display: block; */
  vertical-align: bottom;
}

/* primary-button style */
.primary-button {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 8px;
  background: #e55473;
  padding: auto;
  border: none;
  align-items: center;
}

/* featured section */

.featured-text-container {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  max-width: 600px;
}
.featured-title-text {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.featured-subtitle-text {
  margin-top: 20px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

/* featured image section */

.featured-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.image-container {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 30px;
}

.image {
  width: 310px;
  height: 428px;
}

.image-container:nth-child(2) {
  background: rgba(5, 151, 160, 0.15);
}
.image-container:nth-child(3) {
  background: rgba(71, 125, 17, 0.15);
}

/* featured text container */

.featured-link-text-container {
  display: flex;
  justify-content: space-around;
}

.featured-full-container {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.featured-link-text {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
}
